body {
    align-items: stretch;
    background-color: #36465d;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    min-height : 500px;
}
*:focus,
*:active {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    -moz-outline-width: 0;
    -webkit-tap-highlight-color: transparent;
}
#wrapper {
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 1.2em 1em 0.6em;
    padding: 1.33em;
}
#save {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-style: italic;
    justify-content: flex-end;
    margin-left: 0.6em;
    min-height: 20px;
    visibility: hidden;
}
#content {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0.2em auto 0;
    padding: 0;
}
#content li {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 6px 0;
}
#content li > input[type="checkbox"] {
    display:none;
}
#content input[type="checkbox"] + label {
    flex: 1 0 auto;
    font-size: 16px;
}
#content input[type="checkbox"] + label:before {
    content: '\f096';
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    margin-right: 0.6em;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
#content input[type="checkbox"]:checked + label:before {
    content: '\f046';
}
#content button {
    background: #9da6af;
    border-color: #9da6af;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    line-height: 20px;
    margin: 0;
    padding: 4px 7px 5px;
    text-decoration: none;
}
#content button:active {
    background-color: #929ca6;
    border-color: #929ca6;
    color: rgba(255, 255, 255, .8);
}
#content button:focus {
    background-color: #97a1aa;
    border-color: #97a1aa;
    color: rgba(255, 255, 255, .9);
}
#content #purgeTagHistory {
    margin-left: 1.8em;
}
