.u4.entry,
.u5.entry {
    position: relative;
}

/*
 * Like and reblog buttons
 */

.buttonsContainer {
    position: absolute;
    box-sizing: border-box;
    font-size: 16px;
}
.u4.entry .buttonsContainer {
    position: absolute;
    top: initial;
    right: 10px;
    left: initial;
    bottom: 10px;
}
.u5.entry .buttonsContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    right: initial;
    bottom: initial;
    text-shadow: 1px 1px 2px white,
                -1px 1px 2px white,
                1px -1px 2px white,
                -1px -1px 2px white;
}
.sliderWidth.sliderCenter .buttonsContainer,
.u100Frame .buttonsContainer,
.u100Entry .buttonsContainer {
    float: left;
    position: relative;
    margin-top: 9px;
    top: initial;
    right: initial;
    left: initial;
    bottom: initial;
}
.buttonsContainer > i {
    padding: 8px;
}
.buttonsContainer .liked {
    color: #d95e40;
}
.buttonsContainer .reblogged {
    color: #56bc8a;
}
/*
 *  Reblog popup
 */

.popupContainer {
    background: #fff;
    display: none;
    top: 50px;
    left: -7px;
    position: absolute;
    z-index: 1001;
}
.u4.entry .popupContainer {
    right: -46px;
    left: initial;
}
.popupWrapper {
    align-items: stretch;
    background: #fff;
    border-color: #529ecc;
    border-radius: 2px;
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 20rem;
    min-width: 20rem;
    overflow: auto;
    padding: 1px;
    position: relative;
    resize: both;
    width: 20rem;
}
.arrow {
    height: 1px;
    margin-bottom: -3px;
    position: relative;
    width: 20rem;
}
.u4.entry .arrow {
    align-self: flex-end;
}
.arrow:after,
.arrow:before {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.u4.entry .arrow:after,
.u4.entry .arrow:before {
    left: 80%;
}
.arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 20px;
    margin-left: -20px;
}
.arrow:before {
    border-color: rgba(82, 158, 204, 0);
    border-bottom-color: #529ecc;
    border-width: 22px;
    margin-left: -22px;
}
.popupWrapper > * {
    box-sizing: border-box;
}
.popupWrapper .commentArea {
    flex: 1 0 10rem;
}
.popupWrapper input.popupElement,
.popupWrapper .commentArea,
.popupWrapper select.popupElement,
.popupWrapper label.popupElement {
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: #444;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    outline: 0;
    padding: 6px 9px;
}
.popupWrapper label.popupElement {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.popupWrapper label.popupElement > input.popupElement {
    margin-right: 0.5em;
}
.popupWrapper button.popupElement {
    background: #9da6af;
    border-color: #9da6af;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 30px;
    line-height: 20px;
    margin: 1px;
    padding: 4px 7px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    vertical-align: initial;
    min-width: initial;
    letter-spacing: initial;
    box-shadow: initial;
    outline: initial;
    
}
.popupWrapper select.popupElement {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.popupWrapper .divGroup > input[type="checkbox"] {
    display:none;
}
.popupWrapper input[type="checkbox"] + label.popupElement {
    flex: 1 0 auto;
}
.popupWrapper input[type="checkbox"] + label.popupElement:before {
    content: '\f096';
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    margin-right: 0.6em;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.popupWrapper input[type="checkbox"]:checked + label.popupElement:before {
    content: '\f046';
}
.popupWrapper select.popupElement {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.popupWrapper *:focus,
.popupWrapper *:active {
    outline: 0;
    outline-style: none;
    outline-width: 0;
    -moz-outline-width: 0;
    -webkit-tap-highlight-color: transparent;
}
.popupWrapper button.popupElement:active {
    background-color: #929ca6;
    border-color: #929ca6;
    color: rgba(255, 255, 255, .8);
}
.popupWrapper button.popupElement:focus {
    background-color: #97a1aa;
    border-color: #97a1aa;
    color: rgba(255, 255, 255, .9);
}
.popupWrapper button.popupElement.blue {
    background: #529ecc;
    border-color: #529ecc;
}
.popupWrapper button.popupElement.blue:active {
    background-color: #4295c7;
    border-color: #4295c7;
    color: rgba(255, 255, 255, .8);
}
.popupWrapper button.popupElement.blue:focus {
    background-color: #4a9aca;
    border-color: #4a9aca;
    color: rgba(255, 255, 255, .9);
}
.buttonsGroup {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonsGroup > button.popupElement {
    flex-grow: 1;
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    height: 35px;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/*
 * Dropdown list
 */

.dropdown {
    align-items: stretch;
    box-sizing: border-box;
    display: none;
    background-color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    width: calc(100% - 2px);
    z-index: 1003;
 }
 .dropdown li {
    align-items: center;
    border-right: 6px solid #9da6af;
    border-left: 6px solid #9da6af;
    border-top: 1px solid #9da6af;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.6em;
    position: relative;
    text-decoration: none;
 }
 .dropdown li.focused {
    border-right: 6px solid #529ecc;
    border-left: 6px solid #529ecc;
 }
 .dropdown li:last-child {
    border-bottom: 1px solid #9da6af;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
 }
.dropdown li:before {
    content: '\f096';
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.dropdown li.selected:before{
    content: '\f046';
}
.dropdown .li-group {
    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-left: 0.6em;
    max-width: calc(100% - 1em);
    justify-content: flex-start;
}
.dropdown .li-group > * {
    overflow: hidden;
    padding: 0.3em 0.6em;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dropdown .option-name {
    font-weight: 700;
    margin-bottom: 0.1em;
    padding-bottom: 0.1em;
}
.dropdown .option-value {
    font-style: italic;
    margin-top: 0.1em;
    padding-top: 0.1em;
}
.popupWrapper .divGroup {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}
.popupWrapper .expand {
    box-sizing: border-box;
    border-right: none;
    flex: 1 0 auto;
}
.popupWrapper input[name="tags"].expand {
    flex: 0 0 calc(100% - 30px);
}
.popupWrapper .arrowDown {
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-left: none;
    display: flex;
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: 1.33em;
    height: 100%;
    justify-content: center;
    right: 0;
    position: absolute;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    top: 0;
    width: 30px;
    z-index: 1002;
}
